
<div class='row'>
    <div class="col-md-1"><%= image_tag(@location.icon, size: "32x32") %></div>
    <div class="col-md-2"><%= @location.name %></div>
    <div class="col-md-2"><%= @location.types %></div>
    <div class="col-md-1"><%= @location.open_now %></div>
    <div class="col-md-1"><%= @location.price_level %></div>
    <div class="col-md-1"><%= @location.rating %></div>
    <div class="col-md-2"><%= @location.distance %> away</div>
</div>
