<div class='row results-row'>
    <div class="col-md-4">
        <div class="text-info location location_name"><%= @location.name %></div>
    </div>
    <div class="col-md-1">
        <div class="location location_icon"><%= image_tag(@location.icon) %></div>
    </div>
    <div class="col-md-3 location location_address">
        <div class="address_row">
            <div class="location_street"><%= @location.street_address %></div>
        </div>
        <div class="address_row">
            <div class="location_city"><%= @location.city_st_address %></div>
        </div>
    </div>
    <% if @location.distance < 0.05 %>
        <div class="col-md-3 location_checkin location">
             <%= link_to("Check in!", "http://google.com", class: "btn btn-primary col-centered") %>
        </div> 
    <% else %>
        <div class="col-md-3">
            <div class="location_dist location"><%= @location.distance %> miles away</div>
        </div>
    <% end %>    
</div>
