   <div class="jumbotron search">
    <p id="search-intro">Let's find some Belly member shops.</p>
    <div class="row">
        <div class="col-md-8">
            <%= form_tag search_path, :method => "GET", :class => "search-form", :id => "address-search", remote: true do %>
                <div class="input-group full-width">
                    <span class="input-group-btn">
                        <%= link_to '/', class: "btn btn-default geo-link", :id => "geo-link" do %>
                            <% content_tag(:i, nil, class: "fa fa-location-arrow") %>
                        <% end %>
                    </span>
                    <label class="sr-only">Search</label>
                    <%= hidden_field(:search, :position) %>
                    <%= text_field(:search, :address, class: "form-control search-field", placeholder: "123 Main Street or 63131") %>
                    <span class="input-group-btn">
                      <button type="submit" class="search-submit btn btn-default">Search</button>
                    </span>
                </div>
            <% end %>          
        </div>
        <p id="search-complete"></p>
    </div>
        <p id="demo"></p>

<%= content_tag "div", id: "user", data: {user: @user} do %>

<% end %>
</div>
<%= content_tag "div", id: "locations_list" do %>
    <%= content_tag "div", id: "list_header" do %>
    <% end %>
    <%= content_tag "div", id: "locations" do %>
    <% end %>
<% end %>

    <%= content_tag "div", id: "map" do %>

<% end %> 
